$background: #353353;
$card_background: rgb(48, 47, 78);
$button_background: #c5283d;
$primary_color: #fcfeff;
$button_hover_background: #a71d31;



@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $primary_color;
  font-size: 21px;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: $background;
}
