@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fcfeff;
  font-size: 21px;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #353353;
}

.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero .heroh1 {
  font-size: 55px;
}
.hero p {
  margin: 10px auto 25px auto;
}

.search {
  width: 50%;
}
.search form #songorpodcastname {
  background-color: rgb(48, 47, 78);
  border: none;
  border-radius: 5px;
  width: 70%;
  padding: 15px;
  margin-right: 12px;
}
.search form .searchbutton {
  text-decoration: none;
  background-color: #9440f3;
  padding: 15px 15px;
  border-radius: 5px;
}
.search form .searchbutton:hover {
  background-color: #2cc0a0;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fcfeff;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fcfeff;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: #fcfeff;
}

.areasongtrends {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: center;
}
.areasongtrends h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.worldsongtrends {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: center;
}
.worldsongtrends h1 {
  font-size: 30px;
  margin-bottom: 20px;
}